<div class="shortbio">
  <h2>short biography</h2>

  <p>
  I completed my PhD at the University of Pisa in 2013, under the supervision of Prof. Ugo Montanari. In 2015 I moved to Radboud University for a postdoc, and in 2016 I joined the <a href="http://pplv.cs.ucl.ac.uk/welcome/" class="link"><strong>Programming Principles, Logic and Verification</strong> </a> group at University College London. In 2020 I joined Royal Holloway, University of London as Lecturer.
  </p>
  
  <p>
  My research focuses on formal methods for various classes of real-world systems, including concurrent/distributed and infinite-state systems. In recent years, I became interested in the use of <strong>artificial intelligence in automated verification</strong>. My long-term research plan consists in the use of artificial intelligence to solve challenging real-world modelling and verification problems. 
  </p>
</div>